/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.infobox {
    border-style: solid;
    display: inline-block;
    text-align: center;
}

.centered {

}

ul {
    list-style: none;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

li {
    padding: 10px;
}

#instructions {
    margin-bottom: 10px;
}